header {
    list-style: none;
    padding: 0;
}

/* imagen home */
.contenido_centrado {
    text-align: center;
    height: 500px;
    margin-top: 100px;
}

/* titulo y textos secundarios */
h1 {
    color: #000000;
    text-align: center;
    font-family: "Playfair Display", serif;
  }

h4 {
    color: #000000;
    font-family: "Playfair Display", serif;
    font-weight: bold italic;
  }

  .bold-text {
    font-weight: bold;
  }


/* seccion about me */  
.itemmon2 {
    display: flex;
    align-content: end;
    padding-right: 100px;
  }

body {
    background-color: white;

}

/* seccion contacto */
.formfile {
    margin-top: 30px;
}

/* seccion about me */
.containermon {
    display: flex;
  }

  .itemmon {
    flex: 1;
    grid-column: 1/2;
    padding-top: 100px;
    padding-left: 50px;
  }

